* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

body {
    background: var(--body-color);
    transition: background 0.3s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 160px;
    margin-right: 45px;

}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;

}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;

}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin-left: 30px;
}
.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;

}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}